.loading{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color:#FFF;
 }
 .loading-gif {
    position: absolute;
    width: 70%;
    top: 20%;
    left: 50%;
    margin-left: -131px;
 }
.loading-percent {
  position: absolute;
  margin: 0;
    left: 50%;
    margin-left: -12px;
    top: 38%;
    color: #847f7f;
}